# Local .terraform directories
.terraform/

.terraform.tfstate.lock.info

.terraformrc
terraform.rc

.terraform.lock.hcl

terraform-key-ec2.pub

terraform-key-ec2

terraform.tfstate.backup

terraform.tfstate